*.js
!jest.config.js
*.d.ts
node_modules

# commit commitlint.config.js
!commitlint.config.js

# commit .eslintrc.js
!.eslintrc.js
# commit .prettier.js
!.prettier.js

# CDK asset staging directory
.cdk.staging
cdk.out
